<div class="home-container">
    <div class="categories" >
      <div class="categories__header">
        <h2>All Products</h2>
      </div>
<div>

    <form (ngSubmit)="addProduct()" #productForm="ngForm">
        <input type="text" name="title"  placeholder="Product Title" required />
        <input type="text" name="image"  placeholder="Product Image URL" required />
        <input type="number" name="price"  placeholder="Product Price" required />
        <input type="number" name="quantity"  placeholder="Product Quantity" required />
        <select name="category"  required>
            <option value="" disabled selected>Select Category</option>
            <option *ngFor="let category of allcategories" [value]="category">{{ category }}</option>
          </select>
        <button type="submit">Add Product</button>
      </form>

    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quanity</th>
          </tr>
        </thead>
        <tbody>
              <tr *ngFor="let allprod of allproducts; let i = index">
                <td>{{ i + 1 }}</td>           
                <td>{{ allprod.title }}</td>   
                <td><img [src]="allprod.image" alt="{{ allprod.title }}" style="width: 100px; height: auto;" /></td>
                <td>{{ allprod.price }}</td>
                <td>{{ allprod.quantity }}</td> 
              </tr>
            </tbody>
      </table>
  </div>
  
  </div>